if SHIELD_KODAMA_LEFT

config ZMK_KEYBOARD_NAME
    default "kodama"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KODAMA_LEFT || SHIELD_KODAMA_RIGHT

config ZMK_SPLIT
    default y

endif
